<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link href="/main.css" rel="stylesheet" />
</head>

<body class="grey-bg">
  <%- include('nav.ejs') %>
    <!-- <%= JSON.stringify(글목록) %> -->
    <input class="search" />
    <button class="search-send">검색</button>
    <h4>검색결과</h4>
    <div class="white-bg">
      <% for(let i=0; i < 글목록.length ; i++) { %>
        <div class="list-box">
          <h4>
            <a href="detail/<%= 글목록[i]._id %>">
              <%= 글목록[i].title %>
            </a>
            <a href="/edit/<%= 글목록[i]._id %>">✏️</a>
            <!-- 삭제버튼에 id라는 이름으로 글의 _id를 숨겨놓을 수 있다. -->
            <span class="delete" data-id="<%= 글목록[i]._id %>">🗑️</span>
          </h4>
          <p>
            <%= 글목록[i].content %>
          </p>
        </div>
        <% } %>
    </div>
</body>
<script>
  // console.log("글목록출력", "<%= 글목록 %>");
</script>

</html>